@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Artists' Place</h3>

<p>Artist' Place is the website where you can write down your favourite singers with their best song and album. Our main purpose
    is to make singers/performers/artists from all over the World to get more recognisable, so feel free to share your favourite artist with their 'Art'!
</p>
