@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Artists' Place</h1>
    <h2>Welcome to Artists' Place, </h2>
    <p class="lead">the place where you can share singers' most valuable Art and make it famous! 
    <br>You can even find your new favourite singer, album and song, who knows?
    <br>Feel free to explore!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>See all the artists in our list and find your new favourite</p>
        <p><a class="btn btn-default" href="https://localhost:44355/Artist">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Songs</h2>
        <p>Add a Song to our Songs list</p>
        <p><a class="btn btn-default" href="https://localhost:44355/Song/Create">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Albums</h2>
        <p>Add an Album to our Albums list</p>
        <p><a class="btn btn-default" href="https://localhost:44355/Album/Create">Go &raquo;</a></p>
    </div>
</div>